name: Send AI News To Feishu

on:
  schedule:
    - cron: '0 1 * * *'   # 北京时间早9点
  workflow_dispatch:

jobs:
  send:
    runs-on: ubuntu-latest
    steps:
      - name: Send Message
        run: |
          curl -X POST "https://open.feishu.cn/open-apis/bot/v2/hook/77210a95-7ad1-4693-8ad4-22893d3f57f9" \
          -H "Content-Type: application/json" \
          -d '{
            "msg_type": "text",
            "content": {
              "text": "今日AI热点新闻测试推送"
            }
          }'
